IS Inventory Dashboard

%ul.nav
  %li
    = link_to 'Asset Types', asset_types_path
  %li
    = link_to 'Assets', assets_path

.widget.medium
  .head
    %em Assets
  .body
    .tr
      .td Total Count
      .td
        = Asset.count
    - AssetType.all.each do |ty|
      .tr
        .td
          = ty.name
        .td
          = Asset.where(asset_type_id: ty.id).count

