#dashboard_page.page
  - @assets = Asset.with_warranty_less_than_3_months
  - if @assets.present?
    #warranty_pending_assets.hero-unit.dashboard
      .title
        Assets With warranty expiring in less than 3 Months
      #warranty_pending_assets_list
        = render :partial => 'assets/asset_table'

  #asset_details.hero-unit.tiles-container
    %label.hero-end.btn-link.view-more-link{for: 'view-more'} View More
    %ul.assets-tiles.thumbnails
      - AssetType.all.each do |asset_type|
        - asset_unassigned_count = Asset.unassigned_count(asset_type.id)
        %li.tile.text-center
          %a.thumbnail
            .card
              .front.face
                - if asset_unassigned_count > 0
                  %label.text-center.alert-success.asset-label{'data-url' => assets_path(asset_type_id: asset_type.id, assignment: :unassigned)} Available
                - else
                  %label.text-center.alert-error.asset-label Not Available
                %img.asset-image{src: asset_type.image}
                - if asset_unassigned_count > 0
                  .asset-stats.alert-success{'data-url' => assets_path(asset_type_id: asset_type.id, assignment: :unassigned)}
                    = asset_unassigned_count
                - else
                  .asset-stats.alert-error
                    = 0
              .back.face
                %table{'data-visualize' => 'true'}
                  - asset_type.statistics.each do |key, value|
                    %tr.data
                      %td.label
                        = key
                      %td.value
                        = value
                      %td.color
                        = "##{rand(256).to_s(16)}#{rand(256).to_s(16)}#{rand(256).to_s(16)}"
            .asset-name
              = asset_type.name

            %button.btn.btn-block{'data-url' => assets_path(asset_type_id: asset_type.id)} View All