Assign Asset
= form_for [ @asset, @asset.assignments.new ] do |f|
  = f.select :type, options_for_select([EmployeeAssignment.name, Unassigned.name])
  = f.text_field :employee_id, placeholder: 'Employee ID'
  = f.text_field :assignment_date, type: :date
  = f.submit