- headings = {type: 'Type', asset_id: 'Asset ID', serial: 'Serial No.', company: 'Company', model: 'Model', warranty: 'Warranty', warranty_left: 'Warranty Left (days)', assignment: 'Assignment', action: 'Action'}
%table.table.table-hover.table-bordered.assets-list
  %caption
    = t('asset.list.caption')
  %thead
    - headings.each do |c, heading|
      %th{ class: c}
        = heading
  %tbody
    - if @assets.blank?
      %tr.no-data
        %td{colspan: 100}
          No Assets Present
    - @assets.each do |asset|
      %tr{ id: asset.id, 'data-url' => asset_path(asset) }
        %td.type
          = asset.asset_type.name
        %td.asset_id
          = asset.asset_id
        %td.serial
          = asset.serial
        %td.company
          = asset.company.name
        %td.model
          = asset.model.name rescue '-'
        %td.warranty
          = asset.warranty.name
        %td.warranty_left
          = asset.warranty_left
        %td.assignment
          = asset.current_assignment.description
        %td.action
          = link_to 'Clone', clone_asset_path(id: asset.id), class: 'btn'
