%legend
	= @asset_type.name
= form_for [@asset_type, @asset], html: {class: 'form-horizontal'} do |t|
	= t.hidden_field :form_id, value: @form.try(:id)
	- input_groups = @asset.asset_attributes_groups
	.tabbable
		%ul.nav.nav-tabs
			%li.active
				%a{'data-toggle' => 'tab', href: '#tab_assignment'} General
			- (input_groups.collect(&:name)||[]).each do |name|
				%li
					%a{'data-toggle' => 'tab', :href => "#tab_#{name.snake_case}"}
						= name

		.tab-content
			.tab-pane.active{id: 'tab_assignment'}
				.control-group
					= t.label :asset_id, 'Asset ID'
					.controls
						= t.text_field :asset_id
				.control-group
					= t.label :serial, 'Serial'
					.controls
						= t.text_field :serial
				.control-group
					= t.label :company_id, 'Company'
					.controls
						= t.select :company_id, options_for_select([['Select', nil]] + Company.all.map{|c| [c.name, c.id]}, @asset.company_id)
				.control-group
					= t.label :model_id, 'Model'
					.controls
						= t.select :model_id, options_for_select([['Select', nil]] + Model.where(asset_type_id: @asset_type).map{|c| [c.name, c.id]}, @asset.model_id)
				.control-group
					= t.label :warranty_id, 'Warranty'
					.controls
						= t.select :warranty_id, options_for_select([['Select', nil]] + Warranty.all.map{|c| [c.name, c.id]},  @asset.warranty_id)
				.control-group
					= t.label :warranty_start, 'Warranty Start Date'
					.controls
						= t.text_field :warranty_start, type: :date
				.control-group
					= t.label :procurement_date, 'Procurement Date'
					.controls
						= t.text_field :procurement_date, type: :date

			- input_groups.each do |group|
				= t.fields_for 'asset_attributes_groups_attributes[]', group do |f|
					.tab-pane{:id => "tab_#{group.name.snake_case}"}
						= f.hidden_field :form_attributes_group_id
						= f.hidden_field :name
						- group.asset_attributes.each_with_index do |asset_attribute, i|
							= f.fields_for 'asset_attributes_attributes[]', asset_attribute do |g|
								- form_attribute = asset_attribute.form_attribute
								.control-group
									= g.hidden_field :name
									= g.hidden_field :form_attribute_id
									- key = form_attribute.name.snake_case
									= g.label :value, form_attribute.name, class: "control-label"
									.controls
										- params = {id:  "asset_#{key}_#{i}", type: form_attribute.input_element_type}
										- params[:required]= :required if form_attribute.required?
										= g.text_field :value, params

	.control-group
		.controls
			= t.submit "Create", class: "btn btn-primary btn-large"