%legend
	= @asset_type.name
= form_for [@asset_type, @asset], html: {class: "form-horizontal"} do |t|
	- input_groups = @asset.asset_attributes_groups.load

	.tabbable
		%ul.nav.nav-tabs
			%li.active
				%a{"data-toggle" => "tab", :href => "#tab_essentials"} Essentials
			- (input_groups.collect(&:name)||[]).each do |name|
				%li
					%a{"data-toggle" => "tab", :href => "#tab_#{name.snake_case}"} 
						= name

		.tab-content
			#tab_essentials.tab-pane.active
				.control-group
					= t.label :name, "Name", class: "control-label"
					.controls
						= t.text_field :name
				.control-group
					= t.label :serial, "Serial No.", class: "control-label"
					.controls
						= t.text_field :serial, required: :required
				.control-group
					= t.label :procurement_date, "Procurement Date", class: "control-label"
					.controls
						= t.text_field :procurement_date, required: :required, type: :date
			- input_groups.each do |group|
				= t.fields_for 'asset_attributes_groups[]', group do |f|
					.tab-pane{:id => "tab_#{group.name.snake_case}"}
						= f.hidden_field :form_attributes_group_id
						= f.hidden_field :name
						- group.asset_attributes.load.each do |asset_attribute|
							= f.fields_for 'asset_attributes[]', asset_attribute do |g|
								- form_attribute = asset_attribute.form_attribute
								.control-group
									= g.hidden_field :name
									= g.hidden_field :form_attribute_id
									- key = form_attribute.name.snake_case
									= g.label :value, form_attribute.name, class: "control-label"
									.controls
										- params = {id:  "asset_#{key}", type: form_attribute.input_element_type}
										- params[:required]= :required if form_attribute.required?
										= g.text_field :value, params

	.control-group
		.controls
			= t.submit "Create", class: "btn btn-primary btn-large"