#assets_list
  %table.table.table-hover
    %caption
      = t('asset.list.caption')
    %thead
      - ['Asset ID', 'Serial No.', 'Company', 'Procurement Date', 'Warranty', 'Warranty Start Date', 'Action'].each do |heading|
        %th
          = heading
    %tbody
      - @assets.each do |asset|
        %tr{ id: asset.id, 'data-url' => asset_path(asset) }
          %td.asset_id
            = asset.asset_id
          %td.serial
            = asset.serial
          %td.company
            = asset.company.name
          %td.procurement_date
            = asset.procurement_date.strftime('%d-%b-%Y')
          %td.warranty
            = asset.warranty.name
          %td.warranty_start
            = asset.warranty_start.strftime('%d-%b-%Y')
          %td.action
            = link_to 'Clone', clone_asset_path(id: asset.id), class: 'btn'
